@model BHI_Asset_Portal_WebApp.ViewModels.EditCreativeSettViewModel

@{ 
    var usingJavaScript = Model.CreativeSet.UsingScript.HasValue && Model.CreativeSet.UsingScript.Value;
    var javascriptDisplay = usingJavaScript ? "block;" : "none;";
    var imageDisplay = usingJavaScript ? "none;" : "block;";

    var dropZoneName = "JavaScript" + Model.CreativeSet.CreativeSetID;


}

<div class="CreativeSet row">
    <hr />

    @using (Html.BeginForm("Edit", "CreativeSets", FormMethod.Post, new { @class = "CreativeSetForm form-horizontal", creativeSetID = Model.CreativeSet.CreativeSetID }))
    {
        @Html.AntiForgeryToken()
        <div class="col-xs-12 form-group" style="margin-left:0px; margin-right:0px;">
            <div class="row">
                <div class="col-xs-6">
                    <dl class="dl-vertical">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreativeSet.SetName)
                        </dt>
                        <dd>
                            @Html.TextBox("SetName", Model.CreativeSet.SetName, new { @class = "CreativeSetName form-control" })

                        </dd>
                    </dl>

                </div>
                    <div class="col-xs-6">
                        <a class="pull-right" style="text-decoration:none; cursor:pointer"> <h4 style="margin-bottom:-5px;" class="actions-button">Special Actions:<span class="actions actions-button glyphicon glyphicon-menu-down"></span><span style="display:none;" class="actions glyphicon glyphicon-menu-up"></span></h4></a>
                    </div>
                
               
            </div>
           
            <div class="row actions-row" style="display:none;">
                <div class="col-xs-3" >
                    <a class="btn btn-info instructions" data-toggle="modal" data-target="#Modal_@Model.CreativeSet.CreativeSetID">Upload and Unzip Zip File</a>
                    <!-- Modal -->
                    <div class="modal fade" id='Modal_@Model.CreativeSet.CreativeSetID' tabindex="-1" role="dialog" aria-labelledby="UploadZip">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Uploa a Zip File with Images</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>How to use Zip files in the Asset Portal</h5>
                                    <ol>
                                        <li>Select a file by clicking or dragging below.</li>
                                        <li>The file will upload, unzip, and then download all of the images in the file selcted. Please be patient, this process can take a while on big files.</li>
                                        <li>The images will appear at the bottum of the screen. You can then drag them into image areas they below.</li>
                                    </ol>
                                    <div style='width:100%; height:250px;' class="ZipUploader dropzone" id="ZipUpload_@Model.CreativeSet.CreativeSetID" addRemoveLinks="false" action="/CreativeSets/UploadJavaScript" data-creativesetid="@Model.CreativeSet.CreativeSetID">
                                        <div class="dz-message">
                                            Drag or Click to select a Zip File to upload
                                        </div>
                                    </div>
                                    <label class="error zip-dropzone-error" style="display:none;">This file is either not a Zip file, or doesn't have any images in the root directory. Please try to upload another file. </label>
                                    <script>
                    Dropzone.autoDiscover = false;

                                        $('#ZipUpload_@Model.CreativeSet.CreativeSetID').dropzone({

                                            addRemoveLinks: false,
                                            maxFiles: 9,
                                            createImageThumbnails: true,
                                            autoProcessQueue: true,
                                            url: '/CreativeSets/UploadZip',

                                            params: {
                                                creativesetid: '@Model.CreativeSet.CreativeSetID',
                                                creativeSetType: '@Model.CreativeSet.GetType()'
                                            },
                                            init: function () {
                                                $("#ZipUpload_@Model.CreativeSet.CreativeSetID").find('.dz-progress').append('<div style="text-align:center;" class="fa-3x" >< i class="fas fa-spinner fa-spin" ></i > </div >');
                                                this.on("error", function (file) { this.removeFile(file); $("#ZipUpload_@Model.CreativeSet.CreativeSetID").siblings('.zip-dropzone-error').show(); });
                                               this.on("processing", function (file) { $(file.previewElement).find('.dz-progress').append('<div style="text-align:center;" class="fa-3x" >< i class="fas fa-spinner fa-spin" ></i > </div >');});
                                                this.on("success", function (file, response) {
                                                    console.log(response.Images.length);
                                                    if (response.success == true && response.Images.length > 0) {
                                                        $carouselInner = $('#unzippedCarousel');

                                                        var index = 0;
                                                        response.Images.forEach(function (element) {
                                                            $carouselInner.append('<div class="card" draggable="true" style="display:inline-block"><table><tr><td><img class="draggableImage" draggable="true" src="' + element + '" class="" Name="' + response.Names[index] + '" style="max-height:60px; width:auto;" alt="..."></img></td></tr><tr><td><label>' + response.Names[index] + '</label></td></tr><tr><td>' + response.Widths[index] + 'x' + response.Heights[index] + ' </td></tr></div>');
                                                            index++;
                                                        });
                                                        if (index > 0) {
                                                            $('.modal').modal('hide');
                                                            $carouselInner.parent().show();
                                                            this.removeAllFiles(false);
                                                            $("#ZipUpload_@Model.CreativeSet.CreativeSetID").siblings('.zip-dropzone-error').hide();

                                                        }
                                                        else {

                                                        }

                                                    }
                                                    else {
                                                        var error = "This file was not able to be unzipped. Please try another file.";
                                                        this.removeFile(file);
                                                        console.log($("#ZipUpload_@Model.CreativeSet.CreativeSetID"));
                                                        console.log($("#ZipUpload_@Model.CreativeSet.CreativeSetID").siblings());
                                                        $("#ZipUpload_@Model.CreativeSet.CreativeSetID").siblings('.zip-dropzone-error').show();
                                                    }
                                                }
                                                );

                                            },
                                                                                   });

                                    </script>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-5" >
                    <dl class="dl-vertical">
                        <dt>Copy Images From Another Creative Set:</dt>
                        <dd>
                            <select style="width:200px" class="setsDropDown form-control pull-left"></select> <a class="pull-right btn btn-info copySets"> Copy Images to This Set</a>
                            <div class="fa-3x pull-right" style="display:none;">
                                <i class="fas fa-spinner fa-spin"></i>
                            </div>
                        </dd>
                    </dl>

                </div>
                <div class="col-xs-2">
                    @if (Model.CreativeSet.AdTypeText.ToString() != "NativeAds" && Model.CreativeSet.AdTypeText.ToString() != "PremiumAds")
        {
            <label class="control-label pull-right" stule="margin-top:5px;">Provide Third Party Tags @Html.CheckBox("UsingJavascript", usingJavaScript, new { htmlAttributes = new { @class = "form-control" } })</label>
}
                </div>
                <div class="col-xs-2">
                    @if (Model.Index > 0)
        {
            <a href="#" data-confirm="Are you sure to delete this item?" data-creativeid="@Model.CreativeSet.CreativeSetID" value="Delete This Creative Set" class="btn btn-danger DeleteCreative pull-right instructions">Delete This Creative Set</a>
            <div class="fa-3x pull-right" style="display:none;">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
}


                </div>

            </div>
        </div>
        <div class="col-xs-12 ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CreativeSet.CreativeSetID, new { @class = "CreativeSetID" })
            @Html.HiddenFor(model => model.CreativeSet.AdTypeText, new { @class = "AdTypeText" })
            <div class="row form-group">



            </div>

            <div class="CreativeSetImageDetails" style="display:@imageDisplay">
                @Html.Partial($"/Views/CreativeSets/{ Model.CreativeSet.GetType().Name.ToString() }edit.cshtml", Model.CreativeSet)
            </div>
            <div class="CreativeSetJSDetails" style="display:@javascriptDisplay">
                <div class=" row form-group">
                    <div class="col-xs-12">
                        <h4>Manage Creative Set Details using Javascript Files</h4>

                        <h5>Enter location of Tags File</h5>
                        @Html.LabelFor(model => model.CreativeSet.JavaScriptURL, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreativeSet.JavaScriptURL, new { htmlAttributes = new { Required = "", @class = "form-control JavaScriptURL" } })
                        </div>
                    </div>
                </div>
                <div class=" row form-group">
                    <div class="col-xs-12">

                        <h5>Or Upload a JavaScript file</h5>
                        <div style='width:300px; height:300px;' class="JSUploader dropzone" id="@dropZoneName" addRemoveLinks="false" action="/CreativeSets/UploadJavaScript" data-creativesetid="@Model.CreativeSet.CreativeSetID">
                            <div class="dz-message">
                                Drag or Click to Select a Text or .JS File To Upload
                            </div>
                        </div>
                        <script>
                    Dropzone.autoDiscover = false;

                $('#@dropZoneName').dropzone({
                    addRemoveLinks: false,
                    maxFiles: 9,
                    createImageThumbnails: false,
                    autoProcessQueue: true,
                    url: '/CreativeSets/UploadJavaScript',
                    uploadMultiple: false,

                    params: {
                       creativesetid: '@Model.CreativeSet.CreativeSetID',
                    },
                    init: function () {
                        this.on("success", function (file, response) {
                            console.log('success');
                            console.log(file.name);
                            $('#@dropZoneName').closest('.CreativeSetJSDetails').find('.JavaScriptURL').val(file.name);
                            this.removeFile(file);
                        }
                        );

                    },

                });

                        </script>
                    </div>
                </div>
            </div>



            <div class="row form-group">

                @Html.LabelFor(model => model.CreativeSet.SpecialInstructions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreativeSet.SpecialInstructions, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreativeSet.SpecialInstructions, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 pull-left">

                </div>
                <div class="col-md-6 pull-right">
                    <label class="success pull-right  SetSuccessMessage" style="display:none;">Creative Set is valid and is ready to be submitted.</label>
                </div>

            </div>
        </div>
    }
</div>

